html,
body,
#root {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.a {
    cursor: pointer;
}

.verifyCode {
    height: 32px;
    width: 50%;
    padding: 1px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
}