.leftMenu {
    background-color: #fefefe;
    color: #111;
    height: 100vh;
    box-shadow: 0 0 2px rgba(192, 192, 192, 0.3);
}

.menuLogo {
    padding: 0 5%;

    .menuTitle {
        padding: 0 8px;
        font-size: 16px;
        font-weight: bold;
    }
}

.layoutHeader,
.menuLogo {
    height: 6%;
    padding: 0 1%;
    display: flex;
    align-items: center;
    background-color: #111;
    color: #eee;
}

.layoutFooter {
    height: 6%;
    background-color: #111;
    color: #eee;
}