.leftMenu {
    background-color: #fefefe;
    color: #111;
    height: 100vh;
    box-shadow: 0 0 2px rgba(192, 192, 192, 0.3);
}

.menuLogo {
    padding: 0 5%;

    .menuTitle {
        padding: 0 8px;
        font-size: 16px;
        font-weight: bold;
    }
}

.layoutHeader,
.menuLogo,
.layoutFooter {
    height: 6%;
    padding: 0 1%;
    display: flex;
    align-items: center;
    background-color: #111;
    color: #eee;

    .headerBreadCrumb {
        flex: 1;
    }

    .headerIcons {
        gap: 2vh;
    }
}

.layoutFooter {
    height: 3%;

    
}

.lockRoot {
    width: 100vw;
    height: 100vh;
}

.lockMask {
    height: 100%;
    background: url(https://www.wled.top/images/wallhaven-wqery6-light.webp) center no-repeat;
    background-size: cover;
}

.lockSection {
    position: relative;
    top: 25vh;
    width: 50vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}