:root {
    --backColor: #111;
    --textColor: #eee;
}

.leftMenu {
    background-color: var(--backColor);
    height: 100vh;
    box-shadow: 0 0 2px rgba(192, 192, 192, 0.3);
}

.menuLogo {
    padding: 0 5%;

    .menuTitle {
        padding: 0 8px;
        font-size: 16px;
        font-weight: bold;
    }
}

.layoutMain {
    height: 100vh;
}

.layoutHeader,
.menuLogo,
.layoutFooter {
    height: 6vh;
    padding: 0 1%;
    display: flex;
    align-items: center;
    background-color: var(--backColor);
    color: var(--textColor);

    .headerBreadCrumb {
        flex: 1;
    }

    .headerIcons {
        gap: 2vh;
    }
}

.layoutContent {
    flex: 1;
}

.layoutFooter {
    height: 3%;
}

.lockRoot {
    width: 100vw;
    height: 100vh;
}

// 锁屏背景遮罩
.lockMask {
    position: relative;
    height: 100%;
    background: url(https://www.wled.top/images/wallhaven-wqery6-light.webp) center no-repeat;
    background-size: cover;
    // 动画：背景淡入，0.8秒，缓入缓出，保持最终状态
    animation: fadeIn 0.8s ease-in-out forwards;
}

// 锁屏内容
.lockSection {
    position: relative;
    top: 25vh;
    width: 50vw;
    min-width: 400px; // 防止过窄
    padding: 24px;
    border-radius: 12px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    // 动画：内容上浮淡入，1.2秒，动画函数，保持最终状态
    animation: slideUpFadeIn 1.2s cubic-bezier(0.2, 0.6, 0.2, 1) forwards;
}

// 定义淡入动画
@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

// 定义上浮淡入动画
@keyframes slideUpFadeIn {
    from {
        opacity: 0;
        transform: translateY(25vh);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}