.login {
    height: 100%;
    background: url(https://www.wled.top/images/wallhaven-wqery6-light.webp) center no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;

    .loginBox {
        margin: 3%;
        padding: 7%;
        box-sizing: border-box;
        width: 40%;
        height: auto;
        border-radius: 20px;
        background-color: rgba(255, 255, 255, 0.8);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .loginTitle {
            margin-bottom: 10%;
        }

        .loginForm{
            width: 80%;
        }

        .loginInput,
        .loginBtn {
            width: 100%;
        }

        .loginBtn {
            margin-top: 10%;
        }
    }
}